body {
    background-image: url("https://i.pinimg.com/originals/32/cc/44/32cc4482a4cbd7f26cfc677f2d447328.jpg");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'Brush Script MT', cursive;
}

#introduction {
    color: white;
    text-align: center;
    font-size: 28px;
    margin: 20px auto; 
    width: 80%;
    max-width: 400px; 
}

.container.my-5 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    
}




h2.text-center{
    color:white;
}

footer{
    margin-top: auto;
    padding: 10px 0;
}





