html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("https://en.idei.club/uploads/posts/2023-06/1685620447_en-idei-club-p-white-wood-table-dizain-6.jpg");
    background-size: cover;
}

.container {
    flex-grow: 1;
}

#totalPriceContainer {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: fit-content;
    margin-top: 10px;
}
#totalPrice {
    font-weight: bold;
}